<!-- --------------------------------------------------
-------------------------------------------------------
Note special tags used by this book:
(1) id="Preface"
This id is used to identify the begining of the book that is just past the table of content

(2) id="_Toc417167144"
This is the "chapter 1" tag. The book will scroll here if it has never been viewed before.
It is the first page if the book is opened the very first time.

(3) the last empty <p></p> tag at the very end of the book
    This empty <p></p> is needed to signify the end of book.
    On the Safari browser, it is not able to return the correct coordinates (both .offsetLeft and getBoundingClientRect()) when the 
    last paragraph spans more than one column.
-------------------------------------------------------
--------------------------------------------------- -->

<h1 id="Toc" class="ContentNormalFirst">Table of Contents</h1>

<p class=MsoToc1 (tap)="goTo('_Toc417167144')">
I. Alkuperäisen lain mahti / I. Into the Primitive
</p>

<!-- --------------------------------------------------
-------------------------------------------------------
--------------------------------------------------- -->
<p id="_Toc417167144"></p>
<table>
<tr><td width="30%">
<h2 class="ContentNormal">I. Alkuperäisen lain mahti</h2>
<p class="ContentNormal"> 
“Syntyperäinen kaipaus
huokaa ja kärsii
tottumuksen kahleissa, ja
viimein herää julmuus
pitkällisestä talviunestaan.”
 
Buck ei lukenut sanomalehtiä, sillä siinä tapauksessa olisi hän tiennyt vaaran uhkaavan sekä häntä että jokaista vahvalihaksista, paksuturkkista koiraa Puget Soundin ja San Diegon välisellä alueella. Sittenkun muutamat miehet hapuiltuaan napaseudun pimeydessä olivat löytäneet sieltä jonkinlaista keltaista metallia ja höyrylaivat ja kuljetusyhtiöt toitottaneet löydöstä, syöksyi tuhansittain ihmisiä Pohjolaa kohti. Ja nämä ihmiset tarvitsivat koiria, suuria, väkeviä, vahvalihaksisia koiria, jotka voisivat tarttua voimakkaasti työhön, paksuturkkisia, jotta tämä voisi suojella heitä pakkaselta.
</p>
</td>
<td>
<h2 class="ContentNormal">I. Into the Primitive</h2>
<p class="ContentNormal"> 
“Old longings nomadic leap,
Chafing at custom’s chain;
Again from its brumal sleep
Wakens the ferine strain.”
 
 
Buck did not read the newspapers, or he would have known that trouble was brewing, not alone for himself, but for every tide-water dog, strong of muscle and with warm, long hair, from Puget Sound to San Diego. Because men, groping in the Arctic darkness, had found a yellow metal, and because steamship and transportation companies were booming the find, thousands of men were rushing into the Northland. These men wanted dogs, and the dogs they wanted were heavy dogs, with strong muscles by which to toil, and furry coats to protect them from the frost.
</p>
</td></tr></table>


<!--
    This empty <p></p> is needed to signify the end of book.
    On the Safari browser, it is not able to return the correct coordinates (both .offsetLeft and getBoundingClientRect()) when the 
    last paragraph spans more than one column.
-->
<p></p>
